* {
  font-size: 4vh;
}

body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 1vh;
  display: flex;
  flex-direction: column;
}

a {
  color: #fff;
  text-decoration: none;
}

.header {
  background: #1F2937;
  display: flex;
  flex: 1;
  margin: -1vh -1vh 0 -1vh;
  justify-content: center;
}

.header2 {
  background: #1F2937;
  display: flex;
  flex: 1;
  margin: -1vh;
  padding-left: 1vh;
}

li{
  margin-top: 10px;
  margin-bottom: 10px;
}

.links ul li:nth-child(even) a {
  display: flex;
  background-color: #2f2f2f;
}
.links ul li a {
  margin: 0 -1vh;
}

.links ul{
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  padding: 2px;
}