* {
  font-size: 3.2vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 1vh;
  flex-direction: column;
}

a {
  color: #fff;
  text-decoration: none;
}

.header {
  background: #1F2937;
  display: flex;
  flex: 1;
  margin: -1vh -1vh 0 -1vh;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.header2 {
  background: #1F2937;
  display: flex;
  flex: 1;
  margin: -1vh;
  padding-left: 1vh;
  min-height: 10vh;
}

li{
  margin-top: 10px;
  margin-bottom: 10px;
}


.striped-list ul {
  padding: 0; 
  margin: 0 -1vh -1vh;
}

.striped-list li {
  margin: 0;
  padding: 10px;
  list-style-type: none;
}

.striped-list li:nth-child(odd) {
  background-color: #222;
}
.striped-list li:nth-child(even) {
  background-color: #282828;
}

button {
  border: none;
  background: none;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
}

.comments ul li {
  font-size: 3vh;
  list-style-type: square;
}

.links {
  margin-left: 2vh;
}
