body {
  background-color: #1c2d46;
  color: #fff;
  font-family: 'Chivo', sans-serif;
  font-size: 5vw;
  margin: 0;
  min-height: 100vh;
  display: flex;
}

.container{
  background-color: #222;

  display: flex;
  flex-direction: column;
  flex: 1;
}


.content{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.content2{
  flex: 1;
  flex-direction: column;
  margin: 0 2vw;
}


.header h1 {
  font-size: 6vw;
}

.header2 p {
  font-family: 'Russo One';
}

h3 {
  font-size: 4.8vw;
}

p {
  font-size: 5.2vw;
}

a {
  color: #fff;
  text-decoration: none;
}

.header,
.header2,
.header3 {
  background: #1c2d46;
  font-size: 2.55vw;
}

.header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 18vw;
  font-family: 'Salsa';
}

.header2 {
  display: flex;
  flex: 1;
  padding-left: 1.5vw;
  min-height: 18vw;
  align-items: center;
  font-family: 'Russo One';
  flex: 0 0 5vw;
}

.header3 {
  display: flex;
  flex: 1;
  padding-left: 1.5vw;
  height: 18vw;
  align-items: center;
  font-size: 5.1vw;
}

.header3 p .icon {
  font-family: 'Russo One';
  font-size: 6vw;
}

li {
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.striped-list ul {
  padding: 0;
  margin: 0 0 -1.5vw;
  font-family: 'Russo One';
  font-size: 4.5vw;
}

.striped-list li {
  margin: 0;
  padding: 2vw;
  list-style-type: none;
}

.striped-list li:nth-child(odd) {
  background-color: #222;
}

.striped-list li:nth-child(even) {
  background-color: #282828;
}

button {
  border: none;
  background: none;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
}

.comments ul li {
  font-size: 4.5vw;
  list-style-type: none;
  font-style: italic;
}

.links {
  margin-left: 3vw;
}

.tag a {
  font-style: italic;
  color: cadetblue;
  
}

.tag-list {
  font-family: 'Russo One';
  margin: 0 2vw;
}

.tag-list p {
  font-size: 5.5vw;
  margin-top: 0;
}

.tag-list ul {
  font-size: 4.5vw;
  margin-bottom: 7vw;
}

.empty {
  color: rgba(165, 165, 165, 0.508);
}

.image img {
  width: 100%;
  height: auto;
  margin-top: 3vw;
  border-radius: 1.2vw;
}

footer {
  text-align: center;
  padding-top: 4.5vw;
  padding-bottom: 2vw;
  color: rgba(165, 165, 165, 0.508);
  font-family: 'Chivo';
  font-size: 3.75vw;
  background-color: #222;
  flex: 1;
}

.emoji {
  font-size: 6.75vw;
  justify-self: center;
  align-self: center;
  padding: 0 4vw;
}

.icon img {
  max-height: 7.5vw;
  border-radius: 1.2vw;
  margin-right: 1.5vw;
  min-width: 7.5vw;
}

.icon {
  display: flex;
  flex: 1;
  align-items: center;
  max-height: 7.5vw;
}

section ul {
  margin-top: -1.5vw;
  margin-bottom: 3vw;
}

.jump {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 3vw 2vw 0 ;
  font-style: italic;
}

.jump div{
  margin: 0 2vw 2vw 2vw;
}

.jump a {
  color: cadetblue;
}